.select-container {
  display: flex;
  margin-top: 85px;
}

.button-select {
  width: 200px;
  background: $color-primary;
}

.selected-item {
  display: flex;
  border-bottom: 1px solid white;
  min-height: 50px;
  width: 100%;
}

.selected-text {
  color: white;
  font-size: 0.8em;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fa-arrow-down {
  width: 30%;
  color: white;
  margin: 0.7em 0.7em;
  font-size: 0.9em;
  text-align: right;
  padding-right: 10px;
}

.fa-arrow-up {
  display: none;
  width: 30%;
  color: white;
  margin: 0.7em 0.7em;
  font-size: 0.9em;
  text-align: right;
  padding-right: 10px;
}

.option-item {
  display: none;
  justify-content: center;
  align-items: center;
  font-family: $font-1;
  font-weight: 500;
  width: 100%;
  height: 50px;
  color: white;
  font-size: 0.8em;
  background-color: $color-primary;
  border-bottom: 1px solid white;
}
