html {
  body {
    font-family: $font-1;
    max-width: 1440px;
    margin: auto;
  }
}
.header {
  display: flex;
  width: 70%;
  align-items: flex-start;
  height: 2rem;
  padding: 30px 30px;
}
.header__logo {
  margin: 10px 20px;
}
header a {
  margin-left: -20px;
}
.nav {
  display: flex;
  margin-left: 35px;
  &__navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 0.2rem;
    &__item {
      cursor: pointer;
      color: $color-primary;
      font-weight: 500;
      padding: 0.3rem;
      margin: 0.2rem;
      border: solid 0.1rem $color-tertiary-txt;
      border-radius: 1.5rem;
    }
    &__item:hover {
      background-color: $color-primary;
      color: #fff;
      transition: 0.6s;
    }
    &__item.active {
      background-color: $color-primary;
      color: #fff;
    }
  }
}

.homePage {
  position: relative;
}

.title {
  position: absolute;
  top: -66px;
  right: -5px;
  margin-right: 70px;
  color: $color-primary;
}
.photographersCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 55px 53px;
  padding: 5rem 1rem 0;
  margin: 0;
  align-items: center;
  justify-content: center;

  .photographers-profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    display: none;

    &__portrait {
      width: 280px;
      height: 280px;
      border-radius: 50%;
      object-fit: cover;
    }
    .legende {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .name {
        color: #d3573c;
        padding: 10px 0 5px 10px;
        font-size: 32px;
        margin: 0;
      }
      .position {
        padding-bottom: 5px;
        margin: 0;
        color: $color-primary;
      }
      .tagline {
        margin: 0;
        padding-bottom: 5px;
      }
      .price {
        padding-bottom: 5px;
        margin: 0;
        color: #757575;
      }
      .tagList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
      }

      .tagItem {
        color: $color-primary;
        font-weight: 500;
        padding: 0.3rem;
        margin: 0.2rem;
        border: solid 0.1rem $color-tertiary-txt;
        border-radius: 1.5rem;
      }
    }
  }

  .photographers-profil {
    display: none;
  }

  &.all {
    .photographers-profil {
      display: flex;
    }
  }

  &.portrait {
    .photographers-profil.portrait {
      display: flex;
    }
  }
  &.art {
    .photographers-profil.art {
      display: flex;
    }
  }
  &.events {
    .photographers-profil.events {
      display: flex;
    }
  }
  &.travel {
    .photographers-profil.travel {
      display: flex;
    }
  }
  &.animals {
    .photographers-profil.animals {
      display: flex;
    }
  }
  &.fashion {
    .photographers-profil.fashion {
      display: flex;
    }
  }
  &.sport {
    .photographers-profil.sport {
      display: flex;
    }
  }
  &.architecture {
    .photographers-profil.architecture {
      display: flex;
    }
  }
}
