html {
  body {
    font-family: $font-1;
    max-width: 1440px;
    margin: auto;
  }
}
.header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 60px 70px;
  margin-top: 20px;
}

header a {
  flex-grow: 0;
  margin-right: 30px;
  min-width: 200px;
}

.header__logo {
  font-size: 50px;
  margin: 10px 20px;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
  flex-grow: 1;
  flex-wrap: wrap;

  &__navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 0.2rem;
    &__item {
      cursor: pointer;
      color: $color-primary;
      font-weight: 500;
      padding: 0.2rem;
      margin: 0.2rem;
      border: solid 0.1rem $color-tertiary-txt;
      border-radius: 1.5rem;
    }
    &__item:hover {
      background-color: $color-primary;
      color: #fff;
      transition: 0.6s;
    }
    &__item.active {
      background-color: $color-primary;
      color: #fff;
    }
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-primary;
  font-size: 2.2rem;
  flex-grow: 0;
  white-space: nowrap;
}

@media screen and (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
  }

  .header a {
    width: 50%;
    margin-right: 0;
  }

  .header__logo {
    max-width: 150px;
  }

  .nav {
    width: 100%;
    order: 2;
  }

  .title {
    width: 50%;
  }
}

.homePage {
  position: relative;
}

.photographersCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 55px 53px;
  padding: 5rem 1rem 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  align-items: flex-start;

  .photographers-profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    display: none;

    &__portrait {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      object-fit: cover;
    }
    .legende {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .name {
        color: #d3573c;
        padding: 10px 0 5px 10px;
        font-size: 2rem;
        margin: 0;
      }
      .position {
        padding-bottom: 5px;
        margin: 0;
        color: $color-primary;
        font-size: 1.3rem;
      }
      .tagline {
        margin: 0;
        padding-bottom: 5px;
        font-size: 1.2rem;
      }
      .price {
        padding-bottom: 5px;
        margin: 0;
        color: #757575;
        font-size: 1.2rem;
      }
      .tagList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
      }

      .tagItem {
        color: $color-primary;
        font-weight: 500;
        padding: 0.3rem;
        margin: 0.2rem;
        border: solid 0.1rem $color-tertiary-txt;
        border-radius: 1.5rem;
      }
    }
  }

  .photographers-profil {
    display: none;
  }

  &.all {
    .photographers-profil {
      display: flex;
    }
  }

  &.portrait {
    .photographers-profil.portrait {
      display: flex;
    }
  }
  &.art {
    .photographers-profil.art {
      display: flex;
    }
  }
  &.events {
    .photographers-profil.events {
      display: flex;
    }
  }
  &.travel {
    .photographers-profil.travel {
      display: flex;
    }
  }
  &.animals {
    .photographers-profil.animals {
      display: flex;
    }
  }
  &.fashion {
    .photographers-profil.fashion {
      display: flex;
    }
  }
  &.sport {
    .photographers-profil.sport {
      display: flex;
    }
  }
  &.architecture {
    .photographers-profil.architecture {
      display: flex;
    }
  }
}
